<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
               http://www.springframework.org/schema/beans/spring-beans.xsd 
               http://www.springframework.org/schema/context 
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/mvc
               http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 配置注解扫描的package -->
	<context:component-scan base-package="com.fenbi.yjsj.controller" />

	<!-- 注册HandlerMapper、HandlerAdapter两个映射类，启用注解的方式指定url与Controller的映射 -->
	<mvc:annotation-driven />

	<!-- 默认的消息转换器，Controller的方法如果返回特殊对象， 将会执行该消息转换器，通过jackson相关jar包转成json字符串输出给客户端 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean id="mappingJacksonHttpMessageConverter"
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes" value="application/json;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

</beans>